<head>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
    <script src="/static/js/script1.js"></script>
    <style>
        .fc-scrollgrid-sync-table {
	        min-height: 600px; /* Adjust the height of all-day events */
        }

        .fc-timeGridWeek-view .fc-timegrid {
            display: none; /* Hide the hourly slots */
        }
    </style>
</head>
{% extends 'unfold/layouts/base_simple.html' %}

{% load i18n unfold %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% trans 'Dashboard' %} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header }}
        </a>
    </h1>
{% endblock %}

{% block content %}
    {% include "unfold/helpers/messages.html" %}
    
    {% component "unfold/components/container.html" %}

        {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row" %}
            {% for stats in kpi %}
                {% component "unfold/components/card.html" with class="lg:w-1/3" label=label footer=stats.footer %}
                    {% component "unfold/components/text.html" %}
                        {{ stats.title }}
                    {% endcomponent %}   

                    {% component "unfold/components/title.html" %}
                        {{ stats.metric }}
                    {% endcomponent %}                                  
                {% endcomponent %}
            {% endfor %}
        {% endcomponent %}

        {% if SHOW_OFFICE_DAYS %}
        {% component "unfold/components/button.html" with variant='primary' class='data-ajax-submit' name='toggleOfficeDays'  %}
            Εμφάνιση/Απόκρυψη ημερών γραφείου
        {% endcomponent %}
        {% component "unfold/components/separator.html" %}{% endcomponent %}
        
        {% endif %}

        <div id='calendar-metak'></div>

        {% component "unfold/components/separator.html" %}{% endcomponent %}

        {% component "unfold/components/card.html" %}
            {% component "unfold/components/title.html" %}
                Υπόμνημα
            {% endcomponent %}
            <table class="w-full">
                <tr>
                    <td class="p-2 bg-green-500 rounded"></td>
                    <td class="p-2">Εγκεκριμένες</td>
                </tr>
                <tr>
                    <td class="p-2 rounded" style="background-color: #3788d8;"></td>
                    <td class="p-2">Χωρίς έγκριση</td>
                </tr>
                <tr>
                    <td class="p-2 rounded" style="background-color: brown;"></td>
                    <td class="p-2">Ημέρες γραφείου</td>
                </tr>
            </table>
        {% endcomponent %}
    {% endcomponent %}
{% endblock %}
