{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="import-csv/" class="btn btn-high btn-success">
            Εισαγωγή από CSV
        </a>
    </li>
{% endblock %}

{% block content %}
    {% if show_import_button %}
    <div class="module">
        <h2>Εισαγωγή δεδομένων αξιολόγησης</h2>
        <div class="form-row">
            <form action="import-csv/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <input type="file" name="csv_file" accept=".csv" required>
                    <input type="submit" value="Εισαγωγή" class="default">
                </div>
                <p class="help">
                    Επιλέξτε ένα αρχείο CSV με τις ακόλουθες στήλες:<br>
                    "Όνομα","Επώνυμο","ΑΦΜ","ΑΝΑΓΝΩΡΙΣΤΙΚΟ ΕΚΚΡΕΜΟΤΗΤΑΣ Α1/Α","ΠΕΔΙΟ Α1/Α","ΗΜΕΡΟΜΗΝΙΑ ΑΞΙΟΛΟΓΗΣΗΣ Α1/Α",<br>
                    "ΑΝΑΓΝΩΡΙΣΤΙΚΟ ΕΚΚΡΕΜΟΤΗΤΑΣ Α2","ΠΕΔΙΟ Α2","ΗΜΕΡΟΜΗΝΙΑ ΑΞΙΟΛΟΓΗΣΗΣ Α2","ΑΝΑΓΝΩΡΙΣΤΙΚΟ ΕΚΚΡΕΜΟΤΗΤΑΣ Β",<br>
                    "ΠΕΔΙΟ B","ΗΜΕΡΟΜΗΝΙΑ ΑΞΙΟΛΟΓΗΣΗΣ B","ΜΟΝΙΜΟΠΟΙΗΣΗ"
                </p>
            </form>
        </div>
    </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
