<head>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="https://unpkg.com/@fullcalendar/core@6.1.15/locales/el.global.min.js"></script> 
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
    <script src="/static/js/script.js"></script>
</head>
{% extends 'unfold/layouts/base_simple.html' %}

{% load i18n unfold %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% trans 'Dashboard' %} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header }}
        </a>
    </h1>
{% endblock %}

{% block content %}
    {% include "unfold/helpers/messages.html" %}
    
    {% component "unfold/components/container.html" %}

        {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row" %}
            {% for stats in kpi %}
                {% component "unfold/components/card.html" with class="lg:w-1/3" label=label footer=stats.footer %}
                    {% component "unfold/components/text.html" %}
                        {{ stats.title }}
                    {% endcomponent %}   

                    {% component "unfold/components/title.html" %}
                        {{ stats.metric }}
                    {% endcomponent %}                                  
                {% endcomponent %}
            {% endfor %}
        {% endcomponent %}
        <div id='calendar'></div>

    {% endcomponent %}
{% endblock %}
