{% extends 'unfold/layouts/skeleton.html' %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }}bg-base-50 login dark:bg-base-900{% endblock %}

{% block usertools %}{% endblock %}
{% block nav-global %}{% endblock %}
{% block nav-sidebar %}{% endblock %}
{% block content_title %}{% endblock %}

{% block breadcrumbs %}
<nav class="mb-4" aria-label="Breadcrumb">
  <ol class="flex text-sm text-gray-500">
    <li>
      <a href="{% url 'admin:index' %}" class="hover:underline">{% translate 'Home' %}</a>
    </li>
    <li class="mx-2 text-gray-400">/</li>
    <li aria-current="page" class="text-gray-700">{% translate 'Password reset' %}</li>
  </ol>
</nav>
{% endblock %}

{% block base %}
<div id="page" class="flex min-h-screen">
  <div class="flex flex-grow items-center justify-center mx-auto px-4 relative">
    <div class="w-full sm:w-96">
        <h1 class="font-semibold mb-10">
            <span class="block text-font-important-light dark:text-font-important-dark">Επαναφορά κωδικού</span>
            <span class="block text-primary-600 text-xl dark:text-primary-500">{{ site_title|default:_('Django site admin') }}</span>
        </h1>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <p class="mb-4">{% translate 'Παρακαλώ εισάγετε τον νέο σας κωδικό δύο φορές.' %}</p>
                {% include "unfold/helpers/messages.html" %}
                {% if form.errors or form.non_field_errors %}
                    <div class="flex flex-col gap-4 mb-8 *:mb-0">
                        {% include "unfold/helpers/messages/errornote.html" with errors=form.errors %}
                        {% include "unfold/helpers/messages/error.html" with errors=form.non_field_errors %}
                    </div>
                {% endif %}
                <div class="mb-4">
                    <label for="id_new_password1" class="block text-font-important-light dark:text-font-important-dark font-semibold mb-2">
                      Νέος κωδικός <span class="text-red-600">*</span>
                    </label>
                    <input type="password" name="new_password1" autocomplete="new-password" maxlength="150" class="border border-base-200 bg-white font-medium min-w-20 placeholder-base-400 rounded shadow-sm text-font-default-light text-sm focus:ring focus:ring-primary-300 focus:border-primary-600 focus:outline-none group-[.errors]:border-red-600 group-[.errors]:focus:ring-red-200 dark:bg-base-900 dark:border-base-700 dark:text-font-default-dark dark:focus:border-primary-600 dark:focus:ring-primary-700 dark:focus:ring-opacity-50 dark:group-[.errors]:border-red-500 dark:group-[.errors]:focus:ring-red-600/40 px-3 py-2 w-full" required id="id_new_password1">
                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                            <p class="text-red-600 text-sm mt-2">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="mb-4">
                    <label for="id_new_password2" class="block text-font-important-light dark:text-font-important-dark font-semibold mb-2">
                      Επιβεβαίωση νέου κωδικού <span class="text-red-600">*</span>
                    </label>
                    <input type="password" name="new_password2" autocomplete="new-password" maxlength="150" class="border border-base-200 bg-white font-medium min-w-20 placeholder-base-400 rounded shadow-sm text-font-default-light text-sm focus:ring focus:ring-primary-300 focus:border-primary-600 focus:outline-none group-[.errors]:border-red-600 group-[.errors]:focus:ring-red-200 dark:bg-base-900 dark:border-base-700 dark:text-font-default-dark dark:focus:border-primary-600 dark:focus:ring-primary-700 dark:focus:ring-opacity-50 dark:group-[.errors]:border-red-500 dark:group-[.errors]:focus:ring-red-600/40 px-3 py-2 w-full" required id="id_new_password2">
                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                            <p class="text-red-600 text-sm mt-2">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                    
                <div class="submit-row">
                  <button type="submit" class="w-full bg-primary-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded" style="background-color: red;">
                    {% translate 'Change my password' %}
                  </button>
                </div>
            </form>
        {% else %}
            <p class="mb-4 text-red-600">{% translate 'Ο σύνδεσμος επαναφοράς κωδικού δεν είναι έγκυρος ή έχει ήδη χρησιμοποιηθεί.' %}</p>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}