{% extends 'unfold/layouts/skeleton.html' %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block bodyclass %}{{ block.super }}bg-base-50 login dark:bg-base-900{% endblock %}

{% block usertools %}{% endblock %}
{% block nav-global %}{% endblock %}
{% block nav-sidebar %}{% endblock %}
{% block content_title %}{% endblock %}

{% block breadcrumbs %}
<nav class="mb-4" aria-label="Breadcrumb">
  <ol class="flex text-sm text-gray-500">
    <li>
      <a href="{% url 'admin:index' %}" class="hover:underline">{% translate 'Home' %}</a>
    </li>
    <li class="mx-2 text-gray-400">/</li>
    <li aria-current="page" class="text-gray-700">{% translate 'Password reset' %}</li>
  </ol>
</nav>
{% endblock %}

{% block base %}
<div id="page" class="flex min-h-screen">
  <div class="flex flex-grow items-center justify-center mx-auto px-4 relative">
    <div class="w-full sm:w-96">
        <h1 class="font-semibold mb-10">
            <span class="block text-font-important-light dark:text-font-important-dark">Επαναφορά κωδικού</span>
            <span class="block text-primary-600 text-xl dark:text-primary-500">{{ site_title|default:_('Django site admin') }}</span>
        </h1>
        <p class="mb-4">{% translate 'Ο κωδικός σας άλλαξε με επιτυχία. Μπορείτε τώρα να κάνετε είσοδο στην εφαρμογή.' %}</p>
        <a href="{% url 'admin:login' %}" class="w-full bg-primary-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded block text-center" style="background-color: red;">
            {% translate 'Log in' %}
        </a>
    </div>
  </div>
</div>
{% endblock %}