name: Build and Deploy

on:
  push:
    branches: [ main ]  # Adjust branch(es) to trigger builds

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest  # Adjust OS if needed

    steps:
      - uses: actions/checkout@v3  # Checkout code from repository
        
      - name: Login to Docker Hub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push Docker image (replace with your details)
        run: |
          docker build -t itdipeira/school_consultants:latest app/ 

      - name: Push Docker image to registry (optional)
        run: docker push itdipeira/school_consultants:latest
